# Build & Compiler Artifacts
target/
project/target/
project/project/
*.class
*.tasty
*.log

# Build Server Protocol & IDEs
.bsp/
.bloop/
.metals/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
.vscode/

# Temporary, Cache & Scratch
tmp/
scratch/
.cache/

# OS & Editor Artifacts
.DS_Store
Thumbs.db
*.swp
*.swo
*~
